<div class="row">
	<div class="col-md-7">
		
		<h1 class="title"><%= data.title %></h1>
		
		<% if(data.description) { %>
		<p class="description"><%= data.description %></p>
		<% } %>
			
	</div>
	<div class="col-md-5">
		
		<div class="btn-group pull-right navigation" role="group" aria-label="Pages">
			
			<a href="https://www.opendataphilly.org/dataset/opa-property-assessments" class="btn btn-default"><span class="fa fa-home"></span></a>
			<a href="mailto:aaronbauman@gmail.com" class="btn btn-default">Feedback</a>
		</div>
			
	</div>
</div>